.css>h1{ 
    color: #892201;
    font-size: 57px;
    font-family: cursive;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 10px;
    background-color: yellowgreen;
    text-shadow: 5px 5px black;
    
    
}


.css>p{
    color: blue;
    font-size: 35px;
}
.css>p::first-letter{ 
    color: black;
    font-size: 80px;
}
.css>p::first-line{
    font-weight: bold;
}
.css>a{
    font-size: 25px;
text-align: center;
text-decoration: none;
    
}
.css>a:hover{
    color: orangered;
    text-decoration: underline;

}
.css>a:focus{
     
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, outline 0.3s ease;
   
  background-color: #e0f2f7; /* Light blue background highlight */
  outline: 2px solid #007bff; /* Solid blue outline */
  outline-offset: 3px; /* Space between the element and outline */

}
.abc{
    text-align: center;
    font-style: italic;
font-size: 30px;}
